In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("creditcard.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,118716.0,-0.390964,-3.763199,-3.603844,1.587689,-0.476637,-0.561702,2.177963,-0.697348,-0.018831,...,0.775684,-0.522576,-1.058335,0.626353,-0.277219,0.238437,-0.305403,0.186314,1286.00,0
1,139634.0,-8.233433,-8.564707,-3.595837,2.177063,3.920763,-3.750181,0.236438,0.287091,-0.914357,...,0.623710,0.743623,1.018854,0.904326,0.459645,0.565930,0.673022,-2.286908,122.20,0
2,44158.0,-1.242260,1.174146,2.236598,2.859563,-0.282746,0.766849,-0.151577,0.260983,-0.196647,...,-0.196109,-0.065540,-0.246472,-0.117812,0.319460,0.291651,0.396989,0.307908,41.49,0
3,49919.0,0.398771,1.965449,-2.030515,1.742272,0.760097,-1.627147,0.592376,0.206627,-0.687156,...,-0.044376,0.075527,0.195789,0.079028,-0.520272,-0.392445,0.155315,-0.046441,2.29,0
4,114366.0,2.078543,-0.138865,-1.522262,0.166521,0.154956,-0.814285,0.054746,-0.183745,0.966686,...,0.247796,0.801906,0.024460,0.588871,0.304012,-0.438180,-0.002397,-0.051451,1.00,0

In [15]:
len(df[df.Class == 0])

284315

In [16]:
len(df[df.Class == 1])

492

In [24]:
len(df_new)

14708