Our model expects a list of 30 numerical features as input — one row from our dataset (excluding the label Class). We can get this from our local creditcard.csv.

In [2]:
import pandas as pd
import requests
import json

In [4]:
# Let's have look at the data
df = pd.read_csv("data/creditcard.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,118716.0,-0.390964,-3.763199,-3.603844,1.587689,-0.476637,-0.561702,2.177963,-0.697348,-0.018831,...,0.775684,-0.522576,-1.058335,0.626353,-0.277219,0.238437,-0.305403,0.186314,1286.00,0
1,139634.0,-8.233433,-8.564707,-3.595837,2.177063,3.920763,-3.750181,0.236438,0.287091,-0.914357,...,0.623710,0.743623,1.018854,0.904326,0.459645,0.565930,0.673022,-2.286908,122.20,0
2,44158.0,-1.242260,1.174146,2.236598,2.859563,-0.282746,0.766849,-0.151577,0.260983,-0.196647,...,-0.196109,-0.065540,-0.246472,-0.117812,0.319460,0.291651,0.396989,0.307908,41.49,0
3,49919.0,0.398771,1.965449,-2.030515,1.742272,0.760097,-1.627147,0.592376,0.206627,-0.687156,...,-0.044376,0.075527,0.195789,0.079028,-0.520272,-0.392445,0.155315,-0.046441,2.29,0
4,114366.0,2.078543,-0.138865,-1.522262,0.166521,0.154956,-0.814285,0.054746,-0.183745,0.966686,...,0.247796,0.801906,0.024460,0.588871,0.304012,-0.438180,-0.002397,-0.051451,1.00,0

In [5]:
# To test the real-time inference endpoint, we'll use one of the transactions in the dataset. We can change the numbers thogh.
sample_features = df.drop(columns=['Class']).iloc[0].tolist()
print(sample_features)

[118716.0, -0.39096448, -3.763199, -3.603844, 1.5876892, -0.47663704, -0.5617021, 2.1779633, -0.6973479, -0.018830955, -0.9399685, -0.35247976, 0.30234602, 0.7528182, -0.5717872, 0.4877511, 0.2844196, 0.6142388, 0.16805398, -0.70408744, 2.4774666, 0.77568394, -0.52257586, -1.0583348, 0.62635255, -0.2772192, 0.23843738, -0.30540255, 0.1863141, 1286.0]

In [10]:
# Modify the url if according to yours
url = "https://i9j9jpazs3.execute-api.us-east-2.amazonaws.com/predict"

payload = {
    "features": sample_features  # ← insert real values
}

response = requests.post(url, json=payload)
print(response.json())

{'prediction': 0}

In [ ]:
### We'll use this in bash or zsh

curl -X POST -H "Content-Type: application/json" -d '{"features": [118716.0, -0.39096448, -3.763199, -3.603844, 1.5876892, -0.47663704, -0.5617021, 2.1779633, -0.6973479, -0.018830955, -0.9399685, -0.35247976, 0.30234602, 0.7528182, -0.5717872, 0.4877511, 0.2844196, 0.6142388, 0.16805398, -0.70408744, 2.4774666, 0.77568394, -0.52257586, -1.0583348, 0.62635255, -0.2772192, 0.23843738, -0.30540255, 0.1863141, 1286.0]}' https://i9j9jpazs3.execute-api.us-east-2.amazonaws.com/predict